@font-face {
  font-family: Roboto Mono;
  src: url(/static/fonts/RobotoMono-VariableFont_wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: Roboto Mono;
  src: url(/static/fonts/RobotoMono-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

:root {
  --font-size-body: 16px;
  --font-color: #1e212b;
  --bg-color: #fdf5ed;
  --accent-color: #23967f;
  --link-color-clicked: #7d6b91;
  --shadow-accent-color: #2e3561;
  --link-color: #830b3d;
  --code-color: #ee6352;
  --image-background: lightgrey;
  --image-accent-color: #db6906;
}

body {
  font-family: Roboto Mono;
  padding: 48px;
  max-width: 1110px;
  margin: 0 auto;
  font-size: 16px;
  background-color: var(--bg-color);

  main {
    min-height: 80vh;
  }

  .homepage {
    display: flex;
    align-items: center;
    gap: 32px;

    .content {
      max-width: 50%;
    }
  }

  figure {
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: var(--image-accent-color);
      opacity: 0.75;
      box-shadow: 0 1px 4px var(--shadow-accent-color);
      width: 120px;
      height: 40px;
      top: -20px;
      left: calc(50% - 60px);
      transform: rotate(4deg);
    }
    p {
      margin: 0;
      padding: 0;
    }
    margin: 48px auto;
    text-align: center;
    max-width: 30%;
    padding: 24px 24px 60px;
    background-color: #ffffff;
    box-shadow: -5px 5px 10px var(--shadow-accent-color);
    picture {
      width: 100%;
      height: 100%;
      display: flex;
    }
    img {
      object-fit: scale-down;
      height: auto;
      width: 100%;
    }
    transform: rotate(2deg);
    &.left {
      transform: rotate(-2deg);
      &::before {
        transform: rotate(-4deg);
      }
    }
  }

  em {
    &::before {
      content: "_";
      color: var(--accent-color);
    }
    &::after {
      content: "_";
      color: var(--accent-color);
    }
  }
  strong {
    &::before {
      content: "**";
      color: var(--accent-color);
    }
    &::after {
      content: "**";
      color: var(--accent-color);
    }
  }
  a {
    color: var(--link-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &::before {
      content: "[";
      color: var(--accent-color);
    }
    &::after {
      content: "]";
      color: var(--accent-color);
    }
  }
  a.relative {
    &::before {
      content: "/";
      color: var(--accent-color);
    }
    &::after {
      content: "";
    }
  }
  h1 {
    text-align: center;
  }
  h2 {
    &::before {
      content: "##";
      margin-right: 8px;
      color: var(--accent-color);
    }
  }
  h3 {
    &::before {
      content: "###";
      margin-right: 8px;
      color: var(--accent-color);
    }
  }
  h4 {
    &::before {
      content: "####";
      margin-right: 8px;
      color: var(--accent-color);
    }
  }
  ul {
    list-style-type: "- ";
    li::marker {
      color: var(--accent-color);
    }
  }
  code {
    &::before {
      content: "`";
      color: var(--accent-color);
    }
    &::after {
      content: "`";
      color: var(--accent-color);
    }
    color: var(--code-color);
    font-size: var(--font-size-body);
  }
  pre {
    code {
      &::before {
        content: "";
      }
      &::after {
        content: "";
      }
    }
  }

  .post-header {
    text-align: center;
  }

  .box-posts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;

    .box-post {
      display: flex;
      flex-direction: column;
      .box-tag {
        display: flex;
        flex-direction: row;
        gap: 4px;
        justify-content: center;
      }
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  footer {
    margin-top: 48px;
    text-align: right;
  }
}

@media only screen and (max-width: 640px) {
  body {
    padding: 24px;
    figure {
      &::before {
        box-shadow: 0 1px 2px var(--shadow-accent-color);
        width: 60px;
        height: 20px;
        top: -10px;
        left: calc(50% - 30px);
      }
      max-width: 100%;
      padding: 12px;
      box-shadow: -2px 2px 5px var(--shadow-accent-color);
    }

    header {
      margin-bottom: 24px;
    }

    footer {
      margin-top: 24px;
    }
  }
}
